#product{
  margin: 10px;
  float: left;
  border: solid 2px black;
  box-shadow: 5px 5px 10px 10px rgb(23, 23, 24);
  cursor: pointer;
  width: 70px;
}
#btn1 {
  margin-left: 200px;
}


button {
  margin: 20px;
  padding: 10px 20px;
  width: 120px;
  background-color: #39a2ba;  
  color: rgb(25, 110, 48);                
  border: none;               
  border-radius: 8px;          
  font-size: 16px;             
  cursor: pointer;             
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.2s ease;
}


button:hover {
  background-color: #4592a0;   
  transform: scale(1.05);      
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(22, 89, 36, 0.4);
}


#p{
  margin-left: 70px;
}

#productdetail {
  width: 400px;
  margin: 40px auto;
  border: none;
  border-radius: 20px;
  box-shadow: 50px 50px 50px 50px rgba(175, 63, 63, 0.1);
  overflow: hidden;
  background-color: #b7e2bf;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#productdetail:hover {
  transform: translateY(-8px);
  box-shadow:  20px 40px 20px 40px rgba(181, 32, 32, 0.15);
}

#productdetail .card-img-top {
  height: 250px;
  object-fit: cover;
  border-bottom: 1px solid #0c0303;
}

#productdetail .card-body {
  padding: 20px;
}

#productdetail .card-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #aa4141;
  margin-bottom: 10px;
}

#productdetail .card-text {
  font-size: 1rem;
  color: #8a1d1d;
  margin-bottom: 8px;
  align-self: center;
}

#productdetail a {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 20px;
  background-color: #123356;
  color: rgb(16, 48, 23);
  text-decoration: none;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

#productdetail a:hover {
  background-color: #2478d2;
}